body{
  background-color: #EAEAEA;
  
}
.ui.inverted.top.fixed.menu{
  background-image: linear-gradient(135deg,rgb(24,24,115) 0%,rgb(33,138,174) 69%, rgb(32,167,172) 89%) !important;
}
.centered-content {
  max-width: 800px; /* or whatever maximum width you prefer */
  margin: 0 auto; /* auto margins on the side to center the block */

}