/* Snowflakes.css */

@keyframes falling-objects-fall {
    0% {
        transform: translateY(-5%);
        opacity: 0;
    }
    100% {
        transform: translateY(110vh);
        opacity: 1;
    }
}


@keyframes falling-objects-side {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50px);
    }
}

.falling-objects-container {
    position: fixed;
    top: -50px;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
}

.falling-object {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;

    animation: falling-objects-fall 10s infinite linear;
}
